{% extends 'core/base.html' %}

{% block content %}


<div class="card mb-3 mt-5 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ emp.last_name }} {{ emp.first_name }} {{ emp.patronym }}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span>Должность: </span>
                        <span>{{ post }}</span>
                    </li>
                    <li class="list-group-item">
                        <span>Дом. адрес: </span>
                        <span>{{ emp.address }}</span>
                    </li>
                    <li class="list-group-item">
                        <span>Телефон: </span>
                        <span>{{ emp.phone }}</span>
                    </li>
                    <li class="list-group-item">
                        <span>e-mail: </span>
                        <span>{{ emp.email }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}